#forms {
    padding:1.8rem;
    border: 1.5rem;
   }

.contact-container {
    margin: 1rem 0.5rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    padding: 0.2rem; 
    width: 95%;
    height: 500px;
}

input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}



.smaller-container {
    align-content: center;
}

.contact-wrapper {
    width: 100%;

}

#button {
    font-size: 16px;
    border: none;
    padding: 10px 32px;
    display: inline-block;
    text-align: center;
}

/* media queries */
@media only screen and  (max-width:320px) {
    .contact-container {
        height: 450px;
        text-align: center;
    }

    #button {
       padding: 10px 30px;
    }
}

@media only screen and (max-width: 480px) {
    #button {
        padding: 8px 20px;
    }


    input {
        width: 100%;
    }
}



